@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Krona+One&family=Roboto&display=swap');

body{
  padding: 20px;
  background:  #242121;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.flex{
  display: flex;
}

.clmn{
  flex-direction: column;
}

.aic{
  align-items: center;
}

.jcsb{
  justify-content: space-between;
}

.asfe{
  align-self: flex-end;
}

.wrap{
  flex-wrap: wrap;
}

.g-30{
  gap: 30px;
}

a, button{
  color: rgba(255, 255, 255, 0.486);
  text-decoration: none;
}

a:hover, button:hover{
  color: white;
  text-decoration: 2px underline #fc7986;
  cursor: pointer;
}


.red {
  color: red;
}

.w-280{
  width: 280px;
}

.w100-100{
  width: 100%;
}

.w100-50{
  width: 50%;
}

.p-10{
  padding: 10px;
}

.m-t-10{
  margin-top: 10px;
}

.b{
  border: 2px solid #fc79864f ;
}

.b-b{
  border-bottom: 2px solid #fc79864f ;
}

h1{
  font-family: 'Fascinate Inline', cursive;
  font-size: 50px;
  margin: 10px 0 0;
}

h2{ 
  font-family: 'Krona One', sans-serif;
  margin: 0;
}

.tierce{
  color: rgba(255, 255, 255, 0.486);
}

button{
  background: none;
  border: 1px solid #fc7986;
  padding: 10px;
  border-radius: 50px;
}

button:disabled{
  opacity: 0;
  cursor:auto;
}

.erreur{
  border:1px solid red;
}

@media (max-width: 768px) {

  h1{
    font-size: 30px;
  }

  .tel-clmn{
    flex-direction: column;
    align-items: center;
  }

  .w100-50{
    width: 100%;
  }
}